@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.ListContainer {
  margin: 20px auto;
  width: 1000px;
  min-height: 100px;

  border-radius: 20px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  padding: 20px;

  .header {
    // padding: 15px ;
    text-align: center;
    h3 {
      margin: 0;
      padding: 0;
    }
  }

  @include atLarge {
    width: 500px;
  }

  @include atSmall {
    width: 100%;
  }
}
